* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

/* Add your CSS here */

a:hover {
  border-bottom: .5px solid #6799ff;
}

a {
vertical-align: 40%;
height: 40px;
}

.list-li > a {
  line-height: -50px;
}

.top-nav {
  max-width: 1200px;
  margin: 0 auto;
}

.top-list-item {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  margin: 10px auto;
  max-width: 80%;
}

img, .list-item {
  display: none;
}

li, ul {
  list-style-type: none;
}

ul {
  padding: 0;
}

.list-li > a {
  padding: 5px 10px;
  font-size: .6em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #6799ff;
}

.sign-in-li {
  align-self: right;
  flex-grow: 1;
  text-align: right;
}

/* Media Queries */

@media screen and (max-width: 560px) {
  .hamburger {
    visibility: visible;
  }

.top-list-item {
  max-width: 100%;
  display: block;
  }

  
}
